@font-face {
  font-family: 'Minecraftia';
  src: url('/assets/fonts/Minecraftia-Regular.ttf') format('truetype');
}

body {
  font-family: 'Minecraftia', monospace;
  cursor: crosshair;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
